# 预测欺诈，延迟，销售额和数量

##### 读取数据集

In [1]:
import pandas as pd

In [2]:
train_data = pd.read_csv('data.csv', encoding='unicode_escape')

##### 检查一下数据大致的信息

In [3]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 58 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     180519 non-null  int64
 1   Type                           180519 non-null  object
 2   Days for shipping (real)       180519 non-null  int64
 3   Days for shipment (scheduled)  180519 non-null  int64
 4   Benefit per order              180519 non-null  float64
 5   Sales per customer             180519 non-null  float64
 6   Delivery Status                180519 non-null  object
 7   Late_delivery_risk             180519 non-null  int64
 8   Category Id                    180519 non-null  int64
 9   Category Name                  180519 non-null  object
 10  Customer City                  180519 non-null  object
 11  Customer Country               180519 non-null  object
 12  Customer Email                 180519 non-null  object
 13  Customer Id                    180519 non-null  int64
 14  Customer Password              180519 non-null  object
 15  Customer Segment               180519 non-null  object
 16  Customer State                 180519 non-null  object
 17  Customer Street                180519 non-null  object
 18  Customer Zipcode               180519 non-null  float64
 19  Department Id                  180519 non-null  int64
 20  Department Name                180519 non-null  object
 21  Latitude                       180519 non-null  float64
 22  Longitude                      180519 non-null  float64
 23  Market                         180519 non-null  object
 24  Order City                     180519 non-null  object
 25  Order Country                  180519 non-null  object
 26  Order Customer Id              180519 non-null  int64
 27  order date (DateOrders)        180519 non-null  object
 28  Order Id                       180519 non-null  int64
 29  Order Item Cardprod Id         180519 non-null  int64
 30  Order Item Discount            180519 non-null  float64
 31  Order Item Discount Rate       180519 non-null  float64
 32  Order Item Id                  180519 non-null  int64
 33  Order Item Product Price       180519 non-null  float64
 34  Order Item Profit Ratio        180519 non-null  float64
 35  Order Item Quantity            180519 non-null  int64
 36  Sales                          180519 non-null  float64
 37  Order Item Total               180519 non-null  float64
 38  Order Profit Per Order         180519 non-null  float64
 39  Order Region                   180519 non-null  object
 40  Order State                    180519 non-null  object
 41  Order Status                   180519 non-null  object
 42  Order Zipcode                  24840 non-null   float64
 43  Product Card Id                180519 non-null  int64
 44  Product Category Id            180519 non-null  int64
 45  Product Description            0 non-null       float64
 46  Product Image                  180519 non-null  object
 47  Product Name                   180519 non-null  object
 48  Product Price                  180519 non-null  float64
 49  Product Status                 180519 non-null  int64
 50  shipping date (DateOrders)     180519 non-null  object
 51  Shipping Mode                  180519 non-null  object
 52  Customer name                  180511 non-null  object
 53  order_year                     180519 non-null  int64
 54  order_month                    180519 non-null  int64
 55  order_week_day                 180519 non-null  int64
 56  order_hour                     180519 non-null  int64
 57  order_month_year               180519 non-null  object
dtypes: float64(15), int64(19), object(24)
memory usage: 79.9+ MB

##### 看一下前五行的信息

In [4]:
train_data.head()

,Unnamed: 0,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,...,Product Price,Product Status,shipping date (DateOrders),Shipping Mode,Customer name,order_year,order_month,order_week_day,order_hour,order_month_year
0,0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,...,327.75,0,2/3/2018 22:56,Standard Class,Cally Holloway,2018,1,2,22,2018-01
1,1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,...,327.75,0,1/18/2018 12:27,Standard Class,Irene Luna,2018,1,5,12,2018-01
2,2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,...,327.75,0,1/17/2018 12:06,Standard Class,Gillian Maldonado,2018,1,5,12,2018-01
3,3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,...,327.75,0,1/16/2018 11:45,Standard Class,Tana Tate,2018,1,5,11,2018-01
4,4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,...,327.75,0,1/15/2018 11:24,Standard Class,Orli Hendricks,2018,1,5,11,2018-01

In [5]:
train_data['Order Status'].value_counts()

COMPLETE           59491
PENDING_PAYMENT    39832
PROCESSING         21902
PENDING            20227
CLOSED             19616
ON_HOLD             9804
SUSPECTED_FRAUD     4062
CANCELED            3692
PAYMENT_REVIEW      1893
Name: Order Status, dtype: int64

##### 订单状态为SUSPECTED FRAUD的订单为可能的欺诈订单

In [6]:
import numpy as np

In [7]:
train_data['fraud'] = np.where(train_data['Order Status'] == 'SUSPECTED_FRAUD',1,0 )

In [8]:
train_data

,Unnamed: 0,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,...,Product Status,shipping date (DateOrders),Shipping Mode,Customer name,order_year,order_month,order_week_day,order_hour,order_month_year,fraud
0,0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,...,0,2/3/2018 22:56,Standard Class,Cally Holloway,2018,1,2,22,2018-01,0
1,1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,...,0,1/18/2018 12:27,Standard Class,Irene Luna,2018,1,5,12,2018-01,0
2,2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,...,0,1/17/2018 12:06,Standard Class,Gillian Maldonado,2018,1,5,12,2018-01,0
3,3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,...,0,1/16/2018 11:45,Standard Class,Tana Tate,2018,1,5,11,2018-01,0
4,4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,...,0,1/15/2018 11:24,Standard Class,Orli Hendricks,2018,1,5,11,2018-01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,180514,CASH,4,4,40.000000,399.980011,Shipping on time,0,45,Fishing,...,0,1/20/2016 3:40,Standard Class,Maria Peterson,2016,1,5,3,2016-01,0
180515,180515,DEBIT,3,2,-613.770019,395.980011,Late delivery,1,45,Fishing,...,0,1/19/2016 1:34,Second Class,Ronald Clark,2016,1,5,1,2016-01,0
180516,180516,TRANSFER,5,4,141.110001,391.980011,Late delivery,1,45,Fishing,...,0,1/20/2016 21:00,Standard Class,John Smith,2016,1,4,21,2016-01,0
180517,180517,PAYMENT,3,4,186.229996,387.980011,Advance shipping,0,45,Fishing,...,0,1/18/2016 20:18,Standard Class,Mary Smith,2016,1,4,20,2016-01,0
180518,180518,PAYMENT,4,4,168.949997,383.980011,Shipping on time,0,45,Fishing,...,0,1/19/2016 18:54,Standard Class,Andrea Ortega,2016,1,4,18,2016-01,0

##### 检查一共有多少欺诈行为

In [9]:
train_data['fraud'].sum()

4062

##### 检查配送状态，看一下延迟的有多少并单独标记延迟配送这个特征

In [10]:
train_data['Delivery Status'].value_counts()

Late delivery        98977
Advance shipping     41592
Shipping on time     32196
Shipping canceled     7754
Name: Delivery Status, dtype: int64

In [11]:
train_data['late_delivery'] = np.where(train_data['Delivery Status'] == 'Late delivery',1,0)

In [12]:
train_data['late_delivery'].sum()

98977

##### 在单独标记欺诈的延迟配送的特征列之后，删除订单状态和配送状态两列，否则的话在后续的训练中会出现标签泄露而导致精确率为100%
##### 删除第一列因为是无效的ID列

In [13]:
train_data.drop(['Delivery Status','Order Status', 'Late_delivery_risk','Unnamed: 0'], axis=1, inplace= True)

In [14]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 56 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Category Id                    180519 non-null  int64
 6   Category Name                  180519 non-null  object
 7   Customer City                  180519 non-null  object
 8   Customer Country               180519 non-null  object
 9   Customer Email                 180519 non-null  object
 10  Customer Id                    180519 non-null  int64
 11  Customer Password              180519 non-null  object
 12  Customer Segment               180519 non-null  object
 13  Customer State                 180519 non-null  object
 14  Customer Street                180519 non-null  object
 15  Customer Zipcode               180519 non-null  float64
 16  Department Id                  180519 non-null  int64
 17  Department Name                180519 non-null  object
 18  Latitude                       180519 non-null  float64
 19  Longitude                      180519 non-null  float64
 20  Market                         180519 non-null  object
 21  Order City                     180519 non-null  object
 22  Order Country                  180519 non-null  object
 23  Order Customer Id              180519 non-null  int64
 24  order date (DateOrders)        180519 non-null  object
 25  Order Id                       180519 non-null  int64
 26  Order Item Cardprod Id         180519 non-null  int64
 27  Order Item Discount            180519 non-null  float64
 28  Order Item Discount Rate       180519 non-null  float64
 29  Order Item Id                  180519 non-null  int64
 30  Order Item Product Price       180519 non-null  float64
 31  Order Item Profit Ratio        180519 non-null  float64
 32  Order Item Quantity            180519 non-null  int64
 33  Sales                          180519 non-null  float64
 34  Order Item Total               180519 non-null  float64
 35  Order Profit Per Order         180519 non-null  float64
 36  Order Region                   180519 non-null  object
 37  Order State                    180519 non-null  object
 38  Order Zipcode                  24840 non-null   float64
 39  Product Card Id                180519 non-null  int64
 40  Product Category Id            180519 non-null  int64
 41  Product Description            0 non-null       float64
 42  Product Image                  180519 non-null  object
 43  Product Name                   180519 non-null  object
 44  Product Price                  180519 non-null  float64
 45  Product Status                 180519 non-null  int64
 46  shipping date (DateOrders)     180519 non-null  object
 47  Shipping Mode                  180519 non-null  object
 48  Customer name                  180511 non-null  object
 49  order_year                     180519 non-null  int64
 50  order_month                    180519 non-null  int64
 51  order_week_day                 180519 non-null  int64
 52  order_hour                     180519 non-null  int64
 53  order_month_year               180519 non-null  object
 54  fraud                          180519 non-null  int32
 55  late_delivery                  180519 non-null  int32
dtypes: float64(15), int32(2), int64(17), object(22)
memory usage: 75.7+ MB

##### 看一下数据类型

In [15]:
categorical_cols = train_data.select_dtypes(include='object').columns

In [16]:
categorical_cols

Index(['Type', 'Category Name', 'Customer City', 'Customer Country',
       'Customer Email', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Department Name', 'Market',
       'Order City', 'Order Country', 'order date (DateOrders)',
       'Order Region', 'Order State', 'Product Image', 'Product Name',
       'shipping date (DateOrders)', 'Shipping Mode', 'Customer name',
       'order_month_year'],
      dtype='object')

In [17]:
train_data['Customer Email'].value_counts()

XXXXXXXXX    180519
Name: Customer Email, dtype: int64

##### 因为所有数据都是一样的，所以可以删除这个字段

In [18]:
train_data.drop(['Customer Email','Customer Password','Product Description','Product Status','Product Image'], axis=1, inplace= True)

##### 根据之前的热力特征图，删除完全相关的两个特征中的一个

In [19]:
train_data.drop(['Order Customer Id','Order Item Cardprod Id','Order Item Id','Sales per customer','Order Item Total','Order Profit Per Order', \
                'Product Card Id','Product Category Id','Product Price','order date (DateOrders)', 'order_month_year'], axis=1, inplace= True)

In [20]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 40 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Category Id                    180519 non-null  int64
 5   Category Name                  180519 non-null  object
 6   Customer City                  180519 non-null  object
 7   Customer Country               180519 non-null  object
 8   Customer Id                    180519 non-null  int64
 9   Customer Segment               180519 non-null  object
 10  Customer State                 180519 non-null  object
 11  Customer Street                180519 non-null  object
 12  Customer Zipcode               180519 non-null  float64
 13  Department Id                  180519 non-null  int64
 14  Department Name                180519 non-null  object
 15  Latitude                       180519 non-null  float64
 16  Longitude                      180519 non-null  float64
 17  Market                         180519 non-null  object
 18  Order City                     180519 non-null  object
 19  Order Country                  180519 non-null  object
 20  Order Id                       180519 non-null  int64
 21  Order Item Discount            180519 non-null  float64
 22  Order Item Discount Rate       180519 non-null  float64
 23  Order Item Product Price       180519 non-null  float64
 24  Order Item Profit Ratio        180519 non-null  float64
 25  Order Item Quantity            180519 non-null  int64
 26  Sales                          180519 non-null  float64
 27  Order Region                   180519 non-null  object
 28  Order State                    180519 non-null  object
 29  Order Zipcode                  24840 non-null   float64
 30  Product Name                   180519 non-null  object
 31  shipping date (DateOrders)     180519 non-null  object
 32  Shipping Mode                  180519 non-null  object
 33  Customer name                  180511 non-null  object
 34  order_year                     180519 non-null  int64
 35  order_month                    180519 non-null  int64
 36  order_week_day                 180519 non-null  int64
 37  order_hour                     180519 non-null  int64
 38  fraud                          180519 non-null  int32
 39  late_delivery                  180519 non-null  int32
dtypes: float64(10), int32(2), int64(11), object(17)
memory usage: 53.7+ MB

In [21]:
import pandas as pd

In [22]:
pd.set_option('display.max_columns', None)

In [23]:
train_data

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Category Id,Category Name,Customer City,Customer Country,Customer Id,Customer Segment,Customer State,Customer Street,Customer Zipcode,Department Id,Department Name,Latitude,Longitude,Market,Order City,Order Country,Order Id,Order Item Discount,Order Item Discount Rate,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Region,Order State,Order Zipcode,Product Name,shipping date (DateOrders),Shipping Mode,Customer name,order_year,order_month,order_week_day,order_hour,fraud,late_delivery
0,DEBIT,3,4,91.250000,73,Sporting Goods,Caguas,Puerto Rico,20755,Consumer,PR,5365 Noble Nectar Island,725.0,2,Fitness,18.251453,-66.037056,Pacific Asia,Bekasi,Indonesia,77202,13.110000,0.04,327.750000,0.29,1,327.750000,Southeast Asia,Java Occidental,NaN,Smart watch,2/3/2018 22:56,Standard Class,Cally Holloway,2018,1,2,22,0,0
1,TRANSFER,5,4,-249.089996,73,Sporting Goods,Caguas,Puerto Rico,19492,Consumer,PR,2679 Rustic Loop,725.0,2,Fitness,18.279451,-66.037064,Pacific Asia,Bikaner,India,75939,16.389999,0.05,327.750000,-0.80,1,327.750000,South Asia,RajastÃ¡n,NaN,Smart watch,1/18/2018 12:27,Standard Class,Irene Luna,2018,1,5,12,0,1
2,CASH,4,4,-247.779999,73,Sporting Goods,San Jose,EE. UU.,19491,Consumer,CA,8510 Round Bear Gate,95125.0,2,Fitness,37.292233,-121.881279,Pacific Asia,Bikaner,India,75938,18.030001,0.06,327.750000,-0.80,1,327.750000,South Asia,RajastÃ¡n,NaN,Smart watch,1/17/2018 12:06,Standard Class,Gillian Maldonado,2018,1,5,12,0,0
3,DEBIT,3,4,22.860001,73,Sporting Goods,Los Angeles,EE. UU.,19490,Home Office,CA,3200 Amber Bend,90027.0,2,Fitness,34.125946,-118.291016,Pacific Asia,Townsville,Australia,75937,22.940001,0.07,327.750000,0.08,1,327.750000,Oceania,Queensland,NaN,Smart watch,1/16/2018 11:45,Standard Class,Tana Tate,2018,1,5,11,0,0
4,PAYMENT,2,4,134.210007,73,Sporting Goods,Caguas,Puerto Rico,19489,Corporate,PR,8671 Iron Anchor Corners,725.0,2,Fitness,18.253769,-66.037048,Pacific Asia,Townsville,Australia,75936,29.500000,0.09,327.750000,0.45,1,327.750000,Oceania,Queensland,NaN,Smart watch,1/15/2018 11:24,Standard Class,Orli Hendricks,2018,1,5,11,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,CASH,4,4,40.000000,45,Fishing,Brooklyn,EE. UU.,1005,Home Office,NY,1322 Broad Glade,11207.0,7,Fan Shop,40.640930,-73.942711,Pacific Asia,ShanghÃ¡i,China,26043,0.000000,0.00,399.980011,0.10,1,399.980011,Eastern Asia,ShanghÃ¡i,NaN,Field & Stream Sportsman 16 Gun Fire Safe,1/20/2016 3:40,Standard Class,Maria Peterson,2016,1,5,3,0,0
180515,DEBIT,3,2,-613.770019,45,Fishing,Bakersfield,EE. UU.,9141,Corporate,CA,7330 Broad Apple Moor,93304.0,7,Fan Shop,35.362545,-119.018700,Pacific Asia,Hirakata,JapÃ³n,26037,4.000000,0.01,399.980011,-1.55,1,399.980011,Eastern Asia,Osaka,NaN,Field & Stream Sportsman 16 Gun Fire Safe,1/19/2016 1:34,Second Class,Ronald Clark,2016,1,5,1,0,1
180516,TRANSFER,5,4,141.110001,45,Fishing,Bristol,EE. UU.,291,Corporate,CT,97 Burning Landing,6010.0,7,Fan Shop,41.629959,-72.967155,Pacific Asia,Adelaide,Australia,26024,8.000000,0.02,399.980011,0.36,1,399.980011,Oceania,Australia del Sur,NaN,Field & Stream Sportsman 16 Gun Fire Safe,1/20/2016 21:00,Standard Class,John Smith,2016,1,4,21,0,1
180517,PAYMENT,3,4,186.229996,45,Fishing,Caguas,Puerto Rico,2813,Consumer,PR,2585 Silent Autumn Landing,725.0,7,Fan Shop,18.213350,-66.370575,Pacific Asia,Adelaide,Australia,26022,12.000000,0.03,399.980011,0.48,1,399.980011,Oceania,Australia del Sur,NaN,Field & Stream Sportsman 16 Gun Fire Safe,1/18/2016 20:18,Standard Class,Mary Smith,2016,1,4,20,0,0
180518,PAYMENT,4,4,168.949997,45,Fishing,Caguas,Puerto Rico,7547,Consumer,PR,697 Little Meadow,725.0,7,Fan Shop,18.290380,-66.370613,Pacific Asia,Nagercoil,India,26018,16.000000,0.04,399.980011,0.44,1,399.980011,South Asia,Tamil Nadu,NaN,Field & Stream Sportsman 16 Gun Fire Safe,1/19/2016 18:54,Standard Class,Andrea Ortega,2016,1,4,18,0,0

In [24]:
train_data.drop(['Order Zipcode','shipping date (DateOrders)','Latitude','Longitude','Customer Street'], axis=1, inplace= True)

In [25]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 35 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Category Id                    180519 non-null  int64
 5   Category Name                  180519 non-null  object
 6   Customer City                  180519 non-null  object
 7   Customer Country               180519 non-null  object
 8   Customer Id                    180519 non-null  int64
 9   Customer Segment               180519 non-null  object
 10  Customer State                 180519 non-null  object
 11  Customer Zipcode               180519 non-null  float64
 12  Department Id                  180519 non-null  int64
 13  Department Name                180519 non-null  object
 14  Market                         180519 non-null  object
 15  Order City                     180519 non-null  object
 16  Order Country                  180519 non-null  object
 17  Order Id                       180519 non-null  int64
 18  Order Item Discount            180519 non-null  float64
 19  Order Item Discount Rate       180519 non-null  float64
 20  Order Item Product Price       180519 non-null  float64
 21  Order Item Profit Ratio        180519 non-null  float64
 22  Order Item Quantity            180519 non-null  int64
 23  Sales                          180519 non-null  float64
 24  Order Region                   180519 non-null  object
 25  Order State                    180519 non-null  object
 26  Product Name                   180519 non-null  object
 27  Shipping Mode                  180519 non-null  object
 28  Customer name                  180511 non-null  object
 29  order_year                     180519 non-null  int64
 30  order_month                    180519 non-null  int64
 31  order_week_day                 180519 non-null  int64
 32  order_hour                     180519 non-null  int64
 33  fraud                          180519 non-null  int32
 34  late_delivery                  180519 non-null  int32
dtypes: float64(7), int32(2), int64(11), object(15)
memory usage: 46.8+ MB

##### 删除名字的nan值

In [26]:
train_data['Category Name'].isnull().sum()

0

In [27]:
train_data = train_data.dropna(subset=['Customer name'])

In [28]:
train_data['Category Name'].isnull().sum()

0

##### 检查一下object类型的特征，并将其编码为数字类型

In [29]:
categorical_cols = train_data.select_dtypes(include='object').columns

In [30]:
categorical_cols

Index(['Type', 'Category Name', 'Customer City', 'Customer Country',
       'Customer Segment', 'Customer State', 'Department Name', 'Market',
       'Order City', 'Order Country', 'Order Region', 'Order State',
       'Product Name', 'Shipping Mode', 'Customer name'],
      dtype='object')

In [31]:
train_data[categorical_cols]

,Type,Category Name,Customer City,Customer Country,Customer Segment,Customer State,Department Name,Market,Order City,Order Country,Order Region,Order State,Product Name,Shipping Mode,Customer name
0,DEBIT,Sporting Goods,Caguas,Puerto Rico,Consumer,PR,Fitness,Pacific Asia,Bekasi,Indonesia,Southeast Asia,Java Occidental,Smart watch,Standard Class,Cally Holloway
1,TRANSFER,Sporting Goods,Caguas,Puerto Rico,Consumer,PR,Fitness,Pacific Asia,Bikaner,India,South Asia,RajastÃ¡n,Smart watch,Standard Class,Irene Luna
2,CASH,Sporting Goods,San Jose,EE. UU.,Consumer,CA,Fitness,Pacific Asia,Bikaner,India,South Asia,RajastÃ¡n,Smart watch,Standard Class,Gillian Maldonado
3,DEBIT,Sporting Goods,Los Angeles,EE. UU.,Home Office,CA,Fitness,Pacific Asia,Townsville,Australia,Oceania,Queensland,Smart watch,Standard Class,Tana Tate
4,PAYMENT,Sporting Goods,Caguas,Puerto Rico,Corporate,PR,Fitness,Pacific Asia,Townsville,Australia,Oceania,Queensland,Smart watch,Standard Class,Orli Hendricks
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,CASH,Fishing,Brooklyn,EE. UU.,Home Office,NY,Fan Shop,Pacific Asia,ShanghÃ¡i,China,Eastern Asia,ShanghÃ¡i,Field & Stream Sportsman 16 Gun Fire Safe,Standard Class,Maria Peterson
180515,DEBIT,Fishing,Bakersfield,EE. UU.,Corporate,CA,Fan Shop,Pacific Asia,Hirakata,JapÃ³n,Eastern Asia,Osaka,Field & Stream Sportsman 16 Gun Fire Safe,Second Class,Ronald Clark
180516,TRANSFER,Fishing,Bristol,EE. UU.,Corporate,CT,Fan Shop,Pacific Asia,Adelaide,Australia,Oceania,Australia del Sur,Field & Stream Sportsman 16 Gun Fire Safe,Standard Class,John Smith
180517,PAYMENT,Fishing,Caguas,Puerto Rico,Consumer,PR,Fan Shop,Pacific Asia,Adelaide,Australia,Oceania,Australia del Sur,Field & Stream Sportsman 16 Gun Fire Safe,Standard Class,Mary Smith
180518,PAYMENT,Fishing,Caguas,Puerto Rico,Consumer,PR,Fan Shop,Pacific Asia,Nagercoil,India,South Asia,Tamil Nadu,Field & Stream Sportsman 16 Gun Fire Safe,Standard Class,Andrea Ortega

In [32]:
from sklearn.preprocessing import LabelEncoder

In [33]:
le = LabelEncoder()

In [34]:
for i in categorical_cols:
    train_data[i] = le.fit_transform(train_data[i])
train_data[categorical_cols]

C:\Users\guoxi\anaconda3\envs\python36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Type,Category Name,Customer City,Customer Country,Customer Segment,Customer State,Department Name,Market,Order City,Order Country,Order Region,Order State,Product Name,Shipping Mode,Customer name
0,1,40,66,1,0,36,4,3,331,70,15,475,78,3,1875
1,3,40,66,1,0,36,4,3,391,69,13,841,78,3,5374
2,0,40,452,0,0,5,4,3,391,69,13,841,78,3,4426
3,1,40,285,0,2,5,4,3,3226,8,11,835,78,3,12922
4,2,40,66,1,1,36,4,3,3226,8,11,835,78,3,10632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,0,18,59,0,2,31,3,3,2922,31,7,913,24,3,8421
180515,1,18,26,0,1,5,3,3,1362,77,7,770,24,2,11672
180516,3,18,55,0,1,7,3,3,25,8,11,88,24,3,6296
180517,2,18,66,1,0,36,3,3,25,8,11,88,24,3,9379
180518,2,18,66,1,0,36,3,3,2203,69,13,967,24,3,658

In [35]:
train_data.columns.tolist()

['Type',
 'Days for shipping (real)',
 'Days for shipment (scheduled)',
 'Benefit per order',
 'Category Id',
 'Category Name',
 'Customer City',
 'Customer Country',
 'Customer Id',
 'Customer Segment',
 'Customer State',
 'Customer Zipcode',
 'Department Id',
 'Department Name',
 'Market',
 'Order City',
 'Order Country',
 'Order Id',
 'Order Item Discount',
 'Order Item Discount Rate',
 'Order Item Product Price',
 'Order Item Profit Ratio',
 'Order Item Quantity',
 'Sales',
 'Order Region',
 'Order State',
 'Product Name',
 'Shipping Mode',
 'Customer name',
 'order_year',
 'order_month',
 'order_week_day',
 'order_hour',
 'fraud',
 'late_delivery']

##### 提取特征值和标签

##### 欺诈的数据集

In [36]:
x_fraud = train_data.loc[:, train_data.columns != 'fraud']
y_fraud = train_data['fraud']

##### 延迟配送的数据集

In [37]:
x_late = train_data.loc[:, train_data.columns != 'late_delivery']
y_late = train_data['late_delivery']

##### 提取销售额的特征

In [38]:
x_sales = train_data.loc[:, train_data.columns != 'Sales']
y_sales = train_data['Sales']

##### 订货数量数据集

In [39]:
x_quantity = train_data.loc[:, train_data.columns != 'Order Item Quantity']
y_quantity = train_data['Order Item Quantity']

In [40]:
x_sales.columns.tolist()

['Type',
 'Days for shipping (real)',
 'Days for shipment (scheduled)',
 'Benefit per order',
 'Category Id',
 'Category Name',
 'Customer City',
 'Customer Country',
 'Customer Id',
 'Customer Segment',
 'Customer State',
 'Customer Zipcode',
 'Department Id',
 'Department Name',
 'Market',
 'Order City',
 'Order Country',
 'Order Id',
 'Order Item Discount',
 'Order Item Discount Rate',
 'Order Item Product Price',
 'Order Item Profit Ratio',
 'Order Item Quantity',
 'Order Region',
 'Order State',
 'Product Name',
 'Shipping Mode',
 'Customer name',
 'order_year',
 'order_month',
 'order_week_day',
 'order_hour',
 'fraud',
 'late_delivery']

In [41]:
y_sales

0         327.750000
1         327.750000
2         327.750000
3         327.750000
4         327.750000
             ...
180514    399.980011
180515    399.980011
180516    399.980011
180517    399.980011
180518    399.980011
Name: Sales, Length: 180511, dtype: float64

In [42]:
x_fraud

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Category Id,Category Name,Customer City,Customer Country,Customer Id,Customer Segment,Customer State,Customer Zipcode,Department Id,Department Name,Market,Order City,Order Country,Order Id,Order Item Discount,Order Item Discount Rate,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Region,Order State,Product Name,Shipping Mode,Customer name,order_year,order_month,order_week_day,order_hour,late_delivery
0,1,3,4,91.250000,73,40,66,1,20755,0,36,725.0,2,4,3,331,70,77202,13.110000,0.04,327.750000,0.29,1,327.750000,15,475,78,3,1875,2018,1,2,22,0
1,3,5,4,-249.089996,73,40,66,1,19492,0,36,725.0,2,4,3,391,69,75939,16.389999,0.05,327.750000,-0.80,1,327.750000,13,841,78,3,5374,2018,1,5,12,1
2,0,4,4,-247.779999,73,40,452,0,19491,0,5,95125.0,2,4,3,391,69,75938,18.030001,0.06,327.750000,-0.80,1,327.750000,13,841,78,3,4426,2018,1,5,12,0
3,1,3,4,22.860001,73,40,285,0,19490,2,5,90027.0,2,4,3,3226,8,75937,22.940001,0.07,327.750000,0.08,1,327.750000,11,835,78,3,12922,2018,1,5,11,0
4,2,2,4,134.210007,73,40,66,1,19489,1,36,725.0,2,4,3,3226,8,75936,29.500000,0.09,327.750000,0.45,1,327.750000,11,835,78,3,10632,2018,1,5,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,0,4,4,40.000000,45,18,59,0,1005,2,31,11207.0,7,3,3,2922,31,26043,0.000000,0.00,399.980011,0.10,1,399.980011,7,913,24,3,8421,2016,1,5,3,0
180515,1,3,2,-613.770019,45,18,26,0,9141,1,5,93304.0,7,3,3,1362,77,26037,4.000000,0.01,399.980011,-1.55,1,399.980011,7,770,24,2,11672,2016,1,5,1,1
180516,3,5,4,141.110001,45,18,55,0,291,1,7,6010.0,7,3,3,25,8,26024,8.000000,0.02,399.980011,0.36,1,399.980011,11,88,24,3,6296,2016,1,4,21,1
180517,2,3,4,186.229996,45,18,66,1,2813,0,36,725.0,7,3,3,25,8,26022,12.000000,0.03,399.980011,0.48,1,399.980011,11,88,24,3,9379,2016,1,4,20,0
180518,2,4,4,168.949997,45,18,66,1,7547,0,36,725.0,7,3,3,2203,69,26018,16.000000,0.04,399.980011,0.44,1,399.980011,13,967,24,3,658,2016,1,4,18,0

In [43]:
x_late

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Category Id,Category Name,Customer City,Customer Country,Customer Id,Customer Segment,Customer State,Customer Zipcode,Department Id,Department Name,Market,Order City,Order Country,Order Id,Order Item Discount,Order Item Discount Rate,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Region,Order State,Product Name,Shipping Mode,Customer name,order_year,order_month,order_week_day,order_hour,fraud
0,1,3,4,91.250000,73,40,66,1,20755,0,36,725.0,2,4,3,331,70,77202,13.110000,0.04,327.750000,0.29,1,327.750000,15,475,78,3,1875,2018,1,2,22,0
1,3,5,4,-249.089996,73,40,66,1,19492,0,36,725.0,2,4,3,391,69,75939,16.389999,0.05,327.750000,-0.80,1,327.750000,13,841,78,3,5374,2018,1,5,12,0
2,0,4,4,-247.779999,73,40,452,0,19491,0,5,95125.0,2,4,3,391,69,75938,18.030001,0.06,327.750000,-0.80,1,327.750000,13,841,78,3,4426,2018,1,5,12,0
3,1,3,4,22.860001,73,40,285,0,19490,2,5,90027.0,2,4,3,3226,8,75937,22.940001,0.07,327.750000,0.08,1,327.750000,11,835,78,3,12922,2018,1,5,11,0
4,2,2,4,134.210007,73,40,66,1,19489,1,36,725.0,2,4,3,3226,8,75936,29.500000,0.09,327.750000,0.45,1,327.750000,11,835,78,3,10632,2018,1,5,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,0,4,4,40.000000,45,18,59,0,1005,2,31,11207.0,7,3,3,2922,31,26043,0.000000,0.00,399.980011,0.10,1,399.980011,7,913,24,3,8421,2016,1,5,3,0
180515,1,3,2,-613.770019,45,18,26,0,9141,1,5,93304.0,7,3,3,1362,77,26037,4.000000,0.01,399.980011,-1.55,1,399.980011,7,770,24,2,11672,2016,1,5,1,0
180516,3,5,4,141.110001,45,18,55,0,291,1,7,6010.0,7,3,3,25,8,26024,8.000000,0.02,399.980011,0.36,1,399.980011,11,88,24,3,6296,2016,1,4,21,0
180517,2,3,4,186.229996,45,18,66,1,2813,0,36,725.0,7,3,3,25,8,26022,12.000000,0.03,399.980011,0.48,1,399.980011,11,88,24,3,9379,2016,1,4,20,0
180518,2,4,4,168.949997,45,18,66,1,7547,0,36,725.0,7,3,3,2203,69,26018,16.000000,0.04,399.980011,0.44,1,399.980011,13,967,24,3,658,2016,1,4,18,0

##### 数据集切分

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
x_fraud_train, x_fraud_test, y_fraud_train, y_fraud_test = train_test_split(x_fraud,y_fraud, test_size = 0.2)

In [46]:
x_late_train, x_late_test, y_late_train, y_late_test = train_test_split(x_late,y_late, test_size = 0.2)

In [47]:
x_sales_train, x_sales_test, y_sales_train, y_sales_test = train_test_split(x_sales,y_sales, test_size = 0.2)

In [48]:
x_quantity_train, x_quantity_test, y_quantity_train, y_quantity_test = train_test_split(x_quantity,y_quantity, test_size = 0.2)

##### 数据规范化

In [49]:
from sklearn.preprocessing import StandardScaler

In [50]:
sc = StandardScaler()

In [51]:
x_fraud_train = sc.fit_transform(x_fraud_train)
x_fraud_test = sc.transform(x_fraud_test)

In [52]:
x_late_train = sc.fit_transform(x_late_train)
x_late_test = sc.transform(x_late_test)

In [53]:
x_sales_train = sc.fit_transform(x_sales_train)
x_sales_test = sc.transform(x_sales_test)

In [54]:
x_quantity_train = sc.fit_transform(x_quantity_train)
x_quantity_test = sc.transform(x_quantity_test)

##### 定义使用模型训练的函数

In [55]:
from sklearn.metrics import accuracy_score, recall_score, roc_auc_score, confusion_matrix, f1_score

In [56]:
def model_train(model, x_train, y_train, x_test, y_test, name = 'Fraud'):
    model = model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    accuracy = accuracy_score(y_pred,y_test)
    recall = recall_score(y_pred,y_test)
    auc = roc_auc_score(y_pred, y_test)
    f1 = f1_score(y_pred,y_test)
    confusion = confusion_matrix(y_pred, y_test)
    print('Model Used: ', model)
    print('{} accuracy is {}%'.format(name, accuracy*100))
    print('{} recall is {}%'.format(name, recall*100))
    print('{} auc is {}%'.format(name, auc*100))
    print('{} f1 is {}%'.format(name, f1*100))
    print('{} confusion is \n{}'.format(name, confusion))
    return model

##### 逻辑回归模型

In [57]:
from sklearn.linear_model import LogisticRegression

In [58]:
model_fraud = LogisticRegression()

In [59]:
model_late = LogisticRegression()

In [60]:
#def model_train(model, x_train, y_train, x_test, y_test, name = 'Fraud')
model = model_train(model_fraud,x_fraud_train,y_fraud_train,x_fraud_test,y_fraud_test,'Fraud')

Model Used:  LogisticRegression()
Fraud accuracy is 97.83397501592665%
Fraud recall is 54.285714285714285%
Fraud auc is 76.25149691037699%
Fraud f1 is 30.427046263345193%
Fraud confusion is
[[35150   638]
 [  144   171]]

C:\Users\guoxi\anaconda3\envs\python36\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [61]:
#def model_train(model, x_train, y_train, x_test, y_test, name = 'Fraud')
model = model_train(model_late,x_late_train,y_late_train,x_late_test,y_late_test,'Late')

Model Used:  LogisticRegression()
Late accuracy is 98.75633603855634%
Late recall is 97.78063368098464%
Late auc is 98.89031684049232%
Late f1 is 98.87786469397444%
Late confusion is
[[15872     0]
 [  449 19782]]

##### 线性回归模型

In [62]:
from sklearn.metrics import explained_variance_score, mean_squared_error

In [80]:
def model_train(model, x_train, y_train, x_test, y_test, name):
    model = model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    var = explained_variance_score(y_pred, y_test)
    mse = mean_squared_error(y_pred,y_test)
    print('Model Used: ', model)
    print('{} variance is {}'.format(name, var))
    print('{} mse is {}'.format(name, mse))
    print('ypred: \n', y_pred)
    print('ytest: \n', y_test)
    return model

In [81]:
from sklearn.linear_model import LinearRegression

##### 对销售额度进行预测并返回模型的explained variance和mse

In [82]:
model_sales = LinearRegression()

In [83]:
model = model_train(model_sales,x_sales_train,y_sales_train,x_sales_test,y_sales_test,'Sales')

Model Used:  LinearRegression()
Sales variance is 0.9411772002193949
Sales mse is 973.4391340546605
ypred:
 [104.95412875 140.62037909  52.52772585 ... 181.05633781 252.79877269
 177.11978062]
ytest:
 58923     100.000000
99270     149.940002
38891      50.000000
153964    129.990005
174100    299.980011
             ...
89666     119.980003
157629    399.980011
73817     199.990005
132399    249.899994
50677     169.990005
Name: Sales, Length: 36103, dtype: float64

##### 对订货数量进行预测并返回模型的explained variance和mse

In [84]:
model_quantity = LinearRegression()

##### 通过打印 ypred和 ytest可以看出，使用线性回归预测订货数量之所以mse比较小是因为订货数量都是整数而且取值范围很小，基本只有1和2这两个数字，所以预测效果好

In [85]:
model = model_train(model_quantity,x_quantity_train,y_quantity_train,x_quantity_test,y_quantity_test,'Quantity')

Model Used:  LinearRegression()
Quantity variance is 0.8476656258019677
Quantity mse is 0.2802414244606921
ypred:
 [1.02433561 2.34621585 1.40334289 ... 3.65449979 2.1832381  1.84278123]
ytest:
 166148    1
114500    2
51998     1
72792     1
63376     1
         ..
135684    2
21465     1
4917      4
161060    2
22431     2
Name: Order Item Quantity, Length: 36103, dtype: int64

##### 线性回归模型的可解释性比较高，比如物品的分类对销售额影响比较高，比如钓鱼用具因为普遍造价高所以比通用的运动物品销售额高

##### 使用xgboost来做预测

##### xgboost对销售额的预测

In [86]:
import xgboost as xgb

In [87]:
model_sales = xgb.XGBRegressor(n_estimators=500, learning_rate=0.1, max_depth = 7)

##### xgboost的训练时间要长很多，但是可以看出效果比起线性回归精确得多，和实际值的差几乎可以忽略不计。而且explained variance值几乎等于1，这代表自变量非常能解释因变量的方差变化，效果很好

In [88]:
model = model_train(model_sales,x_sales_train,y_sales_train,x_sales_test,y_sales_test,'Sales')

[15:40:36] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Model Used:  XGBRegressor(max_depth=7, n_estimators=500)
Sales variance is 0.9999999889696611
Sales mse is 0.00019416353299533357
ypred:
 [100.000404 149.94008   49.999893 ... 199.98996  249.90009  170.00446 ]
ytest:
 58923     100.000000
99270     149.940002
38891      50.000000
153964    129.990005
174100    299.980011
             ...
89666     119.980003
157629    399.980011
73817     199.990005
132399    249.899994
50677     169.990005
Name: Sales, Length: 36103, dtype: float64

##### xgboost对订货数量的预测

In [89]:
model_quantity = xgb.XGBRegressor(n_estimators=500, learning_rate=0.1, max_depth = 3)

In [90]:
model = model_train(model_quantity,x_quantity_train,y_quantity_train,x_quantity_test,y_quantity_test,'Quantity')

[15:46:30] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Model Used:  XGBRegressor(n_estimators=500)
Quantity variance is 0.9999025332333177
Quantity mse is 0.00020417568385975397
ypred:
 [0.99956965 2.003226   1.0001609  ... 4.007086   1.9983904  1.999315  ]
ytest:
 166148    1
114500    2
51998     1
72792     1
63376     1
         ..
135684    2
21465     1
4917      4
161060    2
22431     2
Name: Order Item Quantity, Length: 36103, dtype: int64